<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3  d-flex justify-content-between align-items-center">
    <h6 class="m-0 font-weight-bold text-primary">Create employee</h6>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <form class="user" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control form-control-user" id="username"
                       name="username" aria-describedby="emailHelp" placeholder="Enter username"
                       [(ngModel)]="form.username" required #username="ngModel">
                <div class="alert alert-danger" role="alert"
                     *ngIf="username.errors && f.submitted">
                  Username is required!
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" class="form-control form-control-user" id="email"
                       name="email" aria-describedby="emailHelp" placeholder="Enter email"
                       [(ngModel)]="form.email" required #email="ngModel">
                <div class="alert alert-danger" role="alert"
                     *ngIf="email.errors && f.submitted">
                  Email is required!
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control form-control-user" id="fullName"
                       name="fullName" aria-describedby="fullNameHelp" placeholder="Enter full name"
                       [(ngModel)]="form.fullName" required #fullName="ngModel">
                <div class="alert alert-danger" role="alert"
                     *ngIf="fullName.errors && f.submitted">
                  Full name is required!
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="password" class="form-control form-control-user" id="password"
                       name="password" placeholder="Password" [(ngModel)]="form.password" required
                       #password="ngModel">
                <div class="alert alert-danger" role="alert"
                     *ngIf="password.errors && f.submitted">
                  <div *ngIf="password.errors.required">Password is required</div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-primary btn-user btn-block">
            Create employee
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
