
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-money-bill-wave"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Met bank</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <div *ngIf="role=='ROLE_ADMIN'">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/admin/dashboard']">
          <i class="fas fa-fw fa-user"></i>
          <span>Dashboard</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/admin/clients']">
          <i class="fas fa-fw fa-users"></i>
          <span>Clients</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/admin/employees']">
          <i class="fas fa-fw fa-users"></i>
          <span>Employees</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/admin/profile']">
          <i class="fas fa-fw fa-user"></i>
          <span>Profile</span></a>
      </li>
    </div>

    <div *ngIf="role=='ROLE_USER'">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/client/dashboard']">
          <i class="fas fa-fw fa-user"></i>
          <span>Dashboard</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/client/accounts']">
          <i class="fas fa-fw fa-credit-card"></i>
          <span>Accounts</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/client/transaction/create']">
          <i class="fas fa-fw fa-money-bill-wave"></i>
          <span>Create transaction</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/client/profile']">
          <i class="fas fa-fw fa-money-bill-wave"></i>
          <span>Profile</span></a>
      </li>
    </div>

<!--    <div *ngIf="role=='ROLE_ADMIN'">-->
<!--      &lt;!&ndash; Divider &ndash;&gt;-->
<!--      <hr class="sidebar-divider">-->
<!--      <div class="sidebar-heading">-->
<!--        Flight centre-->
<!--      </div>-->
<!--      <li class="nav-item" routerLinkActive="active">-->
<!--        <a class="nav-link" [routerLink]="['/airadmin/booking']">-->
<!--          <i class="fas fa-plane-departure"></i>-->
<!--          <span>Book flight</span></a>-->
<!--      </li>-->
<!--      <li class="nav-item" routerLinkActive="active">-->
<!--        <a class="nav-link" [routerLink]="['/airadmin/dispatch']">-->
<!--          <i class="fas fa-print"></i>-->
<!--          <span>Dispatch centre</span></a>-->
<!--      </li>-->
<!--      <li class="nav-item" routerLinkActive="active">-->
<!--        <a class="nav-link" [routerLink]="['/airadmin/pireps']">-->
<!--          <i class="fas fa-plane-arrival"></i>-->
<!--          <span>Pireps</span></a>-->
<!--      </li>-->
<!--      <li class="nav-item" routerLinkActive="active">-->
<!--        <a class="nav-link" [routerLink]="['/airadmin/routes']">-->
<!--          <i class="fas fa-map-marked-alt"></i>-->
<!--          <span>Routes</span></a>-->
<!--      </li>-->
<!--    </div>-->

<!--    <div *ngIf="role=='ROLE_USER'">-->
<!--      &lt;!&ndash; Divider &ndash;&gt;-->
<!--      <hr class="sidebar-divider">-->
<!--      <div class="sidebar-heading">-->
<!--        Flight centre-->
<!--      </div>-->
<!--      <li class="nav-item" routerLinkActive="active">-->
<!--        <a class="nav-link" [routerLink]="['/user/booking']">-->
<!--          <i class="fas fa-plane-departure"></i>-->
<!--          <span>Book flight</span></a>-->
<!--      </li>-->
<!--      <li class="nav-item" routerLinkActive="active">-->
<!--        <a class="nav-link" [routerLink]="['/user/dispatch']">-->
<!--          <i class="fas fa-print"></i>-->
<!--          <span>Dispatch centre</span></a>-->
<!--      </li>-->
<!--      <li class="nav-item" routerLinkActive="active">-->
<!--        <a class="nav-link" [routerLink]="['/user/pireps']">-->
<!--          <i class="fas fa-plane-arrival"></i>-->
<!--          <span>Pireps</span></a>-->
<!--      </li>-->
<!--      <li class="nav-item" routerLinkActive="active">-->
<!--        <a class="nav-link" [routerLink]="['/user/fleet']">-->
<!--          <i class="fas fa-plane"></i>-->
<!--          <span>Fleet</span></a>-->
<!--      </li>-->
<!--    </div>-->

<!--    <div *ngIf="role=='ROLE_ADMIN'">-->
<!--      &lt;!&ndash; Divider &ndash;&gt;-->
<!--      <hr class="sidebar-divider">-->
<!--      <div class="sidebar-heading">-->
<!--        Administration-->
<!--      </div>-->
<!--      <li class="nav-item" routerLinkActive="active">-->
<!--        <a class="nav-link" [routerLink]="['/airadmin/pilots']">-->
<!--          <i class="fas fa-users"></i>-->
<!--          <span>Pilots</span></a>-->
<!--      </li>-->
<!--      <li class="nav-item" routerLinkActive="active">-->
<!--        <a class="nav-link" [routerLink]="['/airadmin/fleet']">-->
<!--          <i class="fas fa-plane"></i>-->
<!--          <span>Airplanes</span></a>-->
<!--      </li>-->
<!--    </div>-->


    <!-- Heading -->
    <!-- <div class="sidebar-heading">
        Library
    </div> -->

    <!-- Nav Item - Pages Collapse Menu -->
    <!-- <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-book"></i>
            <span> Books</span></a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-tags"></i>
            <span> Tags</span></a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-user"></i>
            <span> Authors</span></a>
    </li> -->
  </ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

          <div class="topbar-divider d-none d-sm-block"></div>

          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{fullName}}</span>
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
              <!-- <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
              </a>
              <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
              </a>
              <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
              </a> -->
              <!-- <div class="dropdown-divider"></div> -->
              <a (click)="logout()" class="dropdown-item" href="#" data-toggle="modal"
                 data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
              </a>
            </div>
          </li>

        </ul>

      </nav>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Nemanja Petrovic 4688 2021</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
