<div class="row">
  <div class="col-md-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3  d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">Account info</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
              <div class="form-group">
                <label for="name">Account name</label>
                <input type="text" class="form-control form-control-user" id="name"
                       name="name" readonly [value]="account.name">
              </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="name">Account number</label>
              <input type="text" class="form-control form-control-user" id="number"
                     name="number" readonly [value]="account.accountNumber">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="name">Account balance</label>
              <input type="text" class="form-control form-control-user" id="balance"
                     name="balance" readonly [value]="account.balance">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="name">Currency</label>
              <input type="text" class="form-control form-control-user" id="currency"
                     name="currency" readonly [value]="account.currency">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-transactions [account]="true" [id]="account.accountNumber"></app-transactions>
  </div>
</div>
